:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Use this to change the button for book an appointment */
.btn--primary {
  background-color: red;
  color: whitesmoke;
  border: 2px solid black;
  border-radius: 25px;
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  /* transition: all 0.3s ease-out; */
  background: #fff;
  color: #242424;
  transition: 250ms;
}

.btn--delete {
  background-color: #ea4335;
  border: 2px solid black;
  margin-right: 90px;
  transition: all 0.2s;
}

.btn--delete:hover {
  background-color: red;
}

.btn--edit {
  background-color: #34a853;
  border: 2px solid black;
  transition: all 0.2s;
}

.btn--edit:hover {
  background-color: rgb(13, 221, 13);
}
