.container {
  max-width: 600px;
  text-align: center;
}

.dateContainer {
  padding: 10px;
  text-align: center;
  align-content: center;
  align-items: center;
}

.dateBtn {
  padding: 5px;
  margin: 2rem;
}

.selectTimeTitle {
  padding-top: 20px;
  text-align: center;
}

.timeContainers {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
}

.timeContainers > button{
  margin: 8px;
}



@media screen and (max-width: 600px) {
  .timeContainers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
  }

  .timeContainers > button {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
