.container {
  max-width: 600px;
  text-align: center;
}

.dateContainer {
  padding: 10px;
  text-align: center;
  align-content: center;
  align-items: center;
}

.dateBtn {
  padding: 5px;
  margin: 2rem;
}

.selectTimeTitle {
  padding-top: 20px;
  text-align: center;
}

.timeContainer {
  text-align: left;
}

@media screen and (max-width: 600px) {
  .timeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .timeContainer > button {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
