.PaymentOption{
    padding:20px;
    text-align:center;
    background-color: #258ea6;
    height:100vh;
    top:0;
}
.wrapper{
    display:inline-flex;
    justify-content:space-between;
    height:80%;
    width:100%;
    padding:20px;
  }
  .flex-direction{
    flex-direction:row;
  }
  .CashOption{
    width:50%;
    height:80%;
    padding:20px;
    margin:10px;
    border-radius:20px;
    border: 2px solid black;
    background-color: white;
  }
  .CardOption{
    width:50%;
    height:80%;
    padding:20px;
    margin:10px;
    border-radius:20px;
    border: 2px solid black;
    background-color: white;;
  }
  .button{
      text-align:center;
  }
  .imgContainer{
      height:200px;
      padding-bottom: 25px;
  }
  
 
  
  @media screen and (max-width: 500px) {
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex-wrap: nowrap;
       }
    .CashOption{
    width:100%;
    height:50%;
    border: 2px solid black;
    margin:10px;

    }
    .CardOption{
      width:100%;
      height:50%;
      margin:10px;
      border: 2px solid black;

    }
    .imgContainer{
        height:60px;
    }
    .CashOption >h1{
        display: none;
    }
    .CardOption >h1{
        display: none;
    }
    .formImage {
        height:120px;
    }

    .button {
        margin:30px;
        padding-top:30px;
    }

  
  }