.servicePage {
  list-style-type: none;
}

.serviceList {
  margin: auto;
  padding: 2px;
  display: list-item;
  max-width: 600px;
  width: 60%;
}

.serviceCard {
  border: solid #555 1px;
  border-radius: 0.5rem;
  margin: 10px;
  padding: 20px;
  user-select: none;
  background: white;
}

.serviceCard:hover {
  cursor: pointer;
  border: solid #2996cc;
  border-width: 1px;
}

.servicePrice {
  color: #555;
}

.bookNow {
  color: #2996cc;
  float: right;
  font-size: small;
}

h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
